
html,
body {
  min-height: 100%;
}

.navButton {
  border-radius: 20%;
  
}

.nav li {
  padding: 10px 15px;
  background-color: #f79c76dc;

}

.nav li a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 45%;
}


#main {
  background-color: #40afafa9;

}


#footer {
  display: flex;
  min-height: 40vh;
  /* flex-direction: column; */
  padding-left: 50%;
}

#about-container {
  background-color: #ff8652b4;
  bottom: 60%;
  /* min-height: 0vh; */
  margin: 0 auto;
max-width: 90%;
padding: 50px;
}

#about-container img { 
  left: 50%;
}

.education {
  width: 70%;
  font-size: 25px;
}

/* .card {
  margin: 0 0 20px 0;
  border: 3px solid #85FFC7;
  border-radius: #85FFC7;
}

#about-container, #image-container, .education-container {
  margin: 0px 10px;
} */


.card {
  background-color: white;
  border-radius: 2px;
  height: 525px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 50%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
.card > .img-container > img {
  width: 100%;
  padding: 25px;
  background-color: white;
}

.card > .content {
  padding-right: 1rem;
  font-size: 18px;
  background-color: white;
  color: #f07039e1;
  font-weight: bold;
}

.card > .content > ul {
  list-style-type: none;
  background-color: white;
}

.card > .content > ul > li {
  margin-top: 18px;
  background-color: white;
}

.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  /* flex-flow: row; */
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}


.icon {
  padding: 10px;
}

.nav {
  justify-content: flex-end;
  font-size: 24px;
}

#port-icon {
  background-color: white;
  margin: 0px 20px;
}

.project-title {
  background-color: white;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;

}

.project-description {
  background-color: white;
  font-weight: normal;
  color: #660033;
}

.project-icons {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

#contact-form {
  margin: 15px 100px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

#contact-form input {
  margin: 20px;
}

/* .contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
} */

.resume-intro {
  font-weight: bold;
  font-size: 20px;
}

.resume-container {
  margin: 20px 50px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 22px;
}

.nav-link, .link, .btn {
  color: #660033;
  font-weight: bold;
}

.nav-link:hover, .link:hover {
  color: #cf6a87;
  font-weight: bold;
  text-decoration: none;
}

.active {
  color: #cf6a87;
}

.banner {
  width: 100%;
}

.my-image {
  border-radius: 50%;
  padding: 50px 50px;
}

.contact-container {
  margin: 100px;
  justify-content: center;
}






@media screen and (max-width: 767px) { 
  p, .resume-container {
    font-size: 20px;
  }

  .education, .resume {
    font-size: 24px;
  }

  .image {
    width: 200%;
    height: 100%;
    padding: 15px 15px;
  }

  .name {
    font-size: 35px;
    color: black;
    letter-spacing: normal;
  }
  
  .job {
    font-size: 30px;
    color: black;
  }

  .nav {
    justify-content: flex-end;
    font-size: 22px;
  }

  .contact-icons, .icon-text {
    margin: auto 50%; 
  }
  
}